.sprite-bitener-logo {
	width: 71px;
	height: 12px;
	background-position: 0 0;
}

.sprite-circular {
	width: 28px;
	height: 28px;
	background-position: 0 -20px;
}

.sprite-clear {
	width: 23px;
	height: 23px;
	background-position: 0 -55px;
}

.sprite-cloud {
	width: 32px;
	height: 23px;
	background-position: 0 -85px;
}

.sprite-dark {
	width: 23px;
	height: 23px;
	background-position: 0 -115px;
}

.sprite-logo {
	width: 270px;
	height: 46px;
	background-position: 0 -145px;
}

.sprite-logo-menorelax {
	width: 347px;
	height: 350px;
	background-position: 0 -200px;
}

.sprite-logo-otc {
	width: 252px;
	height: 62px;
	background-position: 0 -555px;
}

.sprite-logo-otc-color {
	width: 367px;
	height: 91px;
	background-position: 0 -625px;
}

.sprite-menorelax-com {
	width: 373px;
	height: 377px;
	background-position: 0 -725px;
}

.sprite-menorelax-nl {
	width: 374px;
	height: 377px;
	background-position: 0 -1110px;
}

.sprite-menorelax-pl {
	width: 365px;
	height: 365px;
	background-position: 0 -1495px;
}

.sprite-rowa-logo {
	width: 236px;
	height: 76px;
	background-position: 0 -1865px;
}

.sprite-shopping-cart2 {
	width: 20px;
	height: 18px;
	background-position: 0 -1950px;
}

.sprite-thermometer {
	width: 12px;
	height: 32px;
	background-position: 0 -1975px;
}

.sprite-tmd {
	width: 16px;
	height: 16px;
	background-position: 0 -2015px;
}

.sprite-twister {
	width: 26px;
	height: 32px;
	background-position: 0 -2040px;
}

.sprite-bitener-logo, .sprite-circular, .sprite-clear, .sprite-cloud, .sprite-dark, .sprite-logo, .sprite-logo-menorelax, .sprite-logo-otc, .sprite-logo-otc-color, .sprite-menorelax-com, .sprite-menorelax-nl, .sprite-menorelax-pl, .sprite-rowa-logo, .sprite-shopping-cart2, .sprite-thermometer, .sprite-tmd, .sprite-twister {
	background-size: 380px 2080px;
	background-repeat: no-repeat;
	background-image: url("images/sprites.png");
}

.svg .sprite-bitener-logo, .svg .sprite-circular, .svg .sprite-clear, .svg .sprite-cloud, .svg .sprite-dark, .svg .sprite-logo, .svg .sprite-logo-menorelax, .svg .sprite-logo-otc, .svg .sprite-logo-otc-color, .svg .sprite-menorelax-com, .svg .sprite-menorelax-nl, .svg .sprite-menorelax-pl, .svg .sprite-rowa-logo, .svg .sprite-shopping-cart2, .svg .sprite-thermometer, .svg .sprite-tmd, .svg .sprite-twister {
	background-image: url("images/sprites.svg");
}
