/*
 *  Fixes a rendering issue for uneven values in Webkit.
 *  If you ever see a background-image (or anything else) being offset 1px while it works in non-webkit browsers;
 *  include this mixin to the element that gets the offset (e.g. the element that has the background-image property)
 *
 *  Bug report: https://bugs.webkit.org/show_bug.cgi?id=66946
 */
@mixin webkit-pixelshift-fix() {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}