// - - - COLORS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
$primary-color: #0082cb !default;
$secondary-color: #0082cb !default;

$text-color: #000 !default;

$error-color: red !default;
$success-color: green !default;
$warning-color: yellow !default;

$title-color: #ccc;

// - - - GRID - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
// Columns
$grid-width: 1180px !default;
$grid-column-count: 12 !default;
$grid-column-gutter: 20px !default;

// Breakpoints
$grid-breakpoints: (
    'small'   : (0em,          40em),
    'medium'  : (40.0625em, 64em),
    'large'   : (64.0625em, 90em),
    'xlarge'  : (90.0625em, 120em),
    'xxlarge' : (120.0625em),
) !default;